p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: gray;
}
nav{
  text-align: left;
  display: block;
  overflow: hidden;
  width: 100%; 
  padding: 0;
  margin:0px;
  height: 90px;
}
img{
  position: absolute;
  margin-left: 5%;
  margin-top: 5px;
}
body{
  min-height: 100vh;
  background-color: black;
}
a{
  color:darkseagreen ;
  font-weight: bold;
  text-decoration: none;
}
.press:hover{
  font-weight: bold;
  color: #6ABE30;
  cursor: pointer;
}
h2{
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: gainsboro;
  text-align: left;
}
@media (max-width:1500px) {
  h2{
    text-align: center;
  }
}